<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}-{{ page.top }}</title>
<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
			<p>{{ site.author.name }}</p>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item" ><a class="home" href="{{ HOME_PATH }}">首页</a></li>
				<li><a href="/archive.html">博客</a></li>
				<li><a href="/pages.html">页面</a></li>
				<li><a href="/categories.html">分类</a></li>
				<li><a href="/tags.html">标签</a></li>
			</ul>
		</div>
	</div>
	<!-- end #header -->
    {{ content }}
</div>
<div id="footer-content" class="container">
	<div id="footer-bg">
		<div id="column1">
			<h2>欢迎来到我的博客</h2>
			<p>In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
		</div>
		<div id="column2">
			<h2>Etiam rhoncus volutpat</h2>
			<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus consectetuer. Donec ipsum. Proin imperdiet est. Phasellus dapibus semper urna.</p>
		</div>
		<div id="column3">
			<h2>Recommended Links</h2>
			<ul>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2011 xiaoym.github.com. All rights reserved. Design by <a href="mailto:xiaoym@me.com">Xiaoym</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
